#userlist fieldset legend {
	padding-left: 0px;
}
#userlist fieldset.select legend {
	display: none;
}
#userlist fieldset.select label {
	font-weight: bold;
}
#userlist fieldset li {
	list-style: none;
}
#userlist fieldset {
	padding: 1em; border: currentColor; border-image: none;
}
.search-box {
	float: right; display: block; min-width: 300px; max-width: 50%;
}
.search-box {
	clear: both;
}
.csvlink {
	clear: both;
}
.perpage-box {
	clear: both;
}
.csvlink {
	float: left;
}
.refreshlink {
	float: left;
}
.userslist {
	clear: both;
}
.userlist .tbody {
	width: 100%;
}
.userlist .tbody .vcard {
	
}
.userlistfooter {
	margin: 0px auto; clear: both;
}
div.tbody .tr {
	padding: 5px; width: 280px; float: left;
}
div.tbody .vcard {
	padding: 5px; width: 280px; float: left;
}
#userslist2 .tbody .vcard {
	padding: 5px; width: 280px; float: left;
}
div.tbody .tr .td {
	overflow: hidden; display: block;
}
.userlist .tbody .vcard .td {
	overflow: hidden; display: block;
}
tbody .even {
	background-color: rgb(238, 238, 238);
}
.tbody .even .td {
	background-color: rgb(238, 238, 238);
}
#userslist2 .tbody .vcard .td1 {
	width: 100px; float: left;
}
#userslist1 {
	clear: both;
}
#userslist2 {
	clear: both;
}
#userslist3 {
	clear: both;
}
#userslist4 {
	clear: both;
}
form#userlist {
	width: 100%;
}
table.userlist {
	margin: auto; border-radius: 3px; border: 1px solid rgb(221, 221, 221); width: 100%; clear: both; z-index: 100; border-spacing: 0;
}
.userlist * {
	-ms-word-wrap: break-word;
}
.userlist thead tr th {
	background: left top rgb(238, 238, 238); color: rgb(34, 34, 34);
}
.userlist tfoot tr th {
	background: left top rgb(238, 238, 238); color: rgb(34, 34, 34);
}
.userlist td {
	border-color: rgb(221, 221, 221);
}
.userlist th {
	border-color: rgb(221, 221, 221);
}
.userlist th {
	overflow: hidden;
}
.userlist td {
	overflow: hidden;
}
.userlist th {
	padding: 7px 7px 8px; text-align: left; line-height: 1.3em;
}
.userlist td {
	padding: 7px 7px 8px; text-align: left; line-height: 1.3em;
}
.userlist td {
	border-bottom-width: 1px; border-bottom-style: solid;
}
.userlist th {
	border-bottom-width: 1px; border-bottom-style: solid;
}
.userlist .site-mature a {
	color: rgb(102, 0, 102);
}
.userlist .site-deleted a {
	color: rgb(153, 102, 102);
}
.userlist .site-archived a {
	
}
.userlist .site-spammed a {
	color: rgb(153, 0, 0);
}
.site-spammed .view {
	background-color: rgb(254, 202, 194);
}
.site-archived .view {
	background-color: rgb(254, 202, 194);
}
.site-deleted .view {
	background-color: rgb(254, 202, 194);
}
.site-mature .view {
	background-color: rgb(254, 202, 194);
}
form#userlist label {
	font-weight: normal;
}
form#userlist legend {
	font-weight: bold;
}
form#userlist .perpage-box label {
	width: auto;
}
form#userlist .perpage-box {
	margin: 0px auto; width: 100%;
}
form#userlist th .date_range .ui-datepicker-trigger {
	display: none;
}
form#userlist th fieldset label {
	width: auto; clear: both;
}
form#userlist th fieldset input {
	float: right;
}
form#userlist input[type='number'] {
	width: 50px;
}
form#userlist .number_range label {
	clear: both;
}
#user_totals {
	clear: both; float: right;
}
#filter_buttons {
	padding: 5px 0px; clear: both; float: right;
}
#user_navigation {
	padding: 5px 0px; clear: both; float: right;
}
#alpha_navigation {
	padding: 5px 0px; clear: both; float: right;
}
#filter_buttons {
	width: 100%; text-align: right;
}
#user_navigation {
	width: 100%; text-align: right;
}
#alpha_navigation {
	width: 100%; text-align: right;
}
#user_navigation .active a {
	
}
#alpha_navigation .active a {
	
}
.tablenav {
	background: rgb(255, 255, 255); padding: 3px; border-radius: 3px; border: 1px solid rgb(255, 255, 255); text-align: right; clear: both; margin-bottom: 3px; border-spacing: 0;
}
.tablenav .tablenav-pages {
	color: rgb(85, 85, 85);
}
.tablenav .tablenav-pages a {
	width: auto;
}
.tablenav .displaying-num {
	font-style: italic; margin-right: 10px;
}
.tablenav .tablenav-pages a {
	background: rgb(238, 238, 238); color: rgb(102, 102, 102);
}
.tablenav .tablenav-pages a {
	padding: 3px 6px; border: 1px solid currentColor; border-image: none; text-decoration: none;
}
.tablenav-pages span.current {
	padding: 3px 6px; border: 1px solid currentColor; border-image: none; text-decoration: none;
}
.tablenav .next {
	border-color: transparent;
}
.tablenav .prev {
	border-color: transparent;
}
a.page-numbers {
	padding: 0px 2px; font-weight: bold; margin-right: 1px; display: inline-block;
}
.tablenav .tablenav-pages .current {
	background: rgb(223, 223, 223); border-color: rgb(211, 211, 211);
}
.tablenav .dots {
	border-color: transparent;
}
.tablenav-pages br {
	display: none;
}
.widget-container table.userlist {
	border: 0px currentColor; border-image: none;
}
.widget-container table.userlist tr {
	border: 0px currentColor; border-image: none;
}
.widget-container table.userlist td {
	border: 0px currentColor; border-image: none;
}
.widget-container table.userlist td {
	padding: 2px;
}
table.ui-datepicker-calendar {
	background: rgb(255, 255, 255);
}
.avatar img {
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5); -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
span.th {
	margin-right: 2%;
}
span.avatar {
	margin-right: 6px;
}
span.display_name {
	font-size: large; font-weight: bold;
}
span.user_registered a:hover {
	color: red; position: relative;
}
span.user_registered a[title]:hover::after {
	padding: 4px 8px; border-radius: 5px; left: 0px; top: 100%; color: rgb(51, 51, 51); white-space: nowrap; position: absolute; content: attr(title); box-shadow: 0px 0px 4px #222; background-image: -ms-linear-gradient(rgb(238, 238, 238), rgb(204, 204, 204)); -webkit-box-shadow: 0px 0px 4px #222; -moz-box-shadow: 0px 0px 4px #222; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
span.amr-tooltip {
	cursor: help;
}
form#userlist .perpage-box {
	margin-bottom: 1em; vertical-align: middle; display: table-cell;
}
form#userlist .perpage-box #rows_per_page {
	margin: 0px 1em; width: 4em; display: inline;
}
form#userlist .perpage-box label {
	float: none; display: inline;
}
#userslist1 {
	overflow: auto;
}
#userslist2 {
	overflow: auto;
}
#userslist3 {
	overflow: auto;
}
#userslist4 {
	overflow: auto;
}
#userslist5 {
	overflow: auto;
}
#userslist6 {
	overflow: auto;
}
#userslist7 {
	overflow: auto;
}
#userslist8 {
	overflow: auto;
}
#userslist9 {
	overflow: auto;
}
#userslist10 {
	overflow: auto;
}
