#TB_overlay {
	background: rgb(0, 0, 0); left: 0px; top: 0px; right: 0px; bottom: 0px; position: fixed; z-index: 100050; opacity: 0.7;
}
#TB_window {
	left: 50%; top: 50%; text-align: left; visibility: hidden; position: fixed; z-index: 100050; box-shadow: 0px 3px 6px rgba(0,0,0,0.3); background-color: rgb(255, 255, 255); -webkit-box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
}
#TB_window img#TB_Image {
	border-width: 1px; border-style: solid; border-color: rgb(102, 102, 102) rgb(204, 204, 204) rgb(204, 204, 204) rgb(102, 102, 102); margin: 15px 0px 0px 15px; display: block;
}
#TB_caption {
	padding: 7px 30px 10px 25px; height: 25px; float: left;
}
#TB_closeWindow {
	padding: 11px 25px 10px 0px; height: 25px; float: right;
}
#TB_closeWindowButton {
	background: none; padding: 0px; border: 0px currentColor; transition:color 0.1s ease-in-out, background 0.1s ease-in-out; border-image: none; left: auto; width: 29px; height: 29px; right: 0px; position: absolute; cursor: pointer; -webkit-transition: color .1s ease-in-out, background .1s ease-in-out;
}
#TB_ajaxWindowTitle {
	padding: 0px 29px 0px 10px; width: calc( 100% - 39px ); line-height: 29px; overflow: hidden; font-weight: 600; float: left; white-space: nowrap; -ms-text-overflow: ellipsis;
}
#TB_title {
	background: rgb(252, 252, 252); height: 29px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
#TB_ajaxContent {
	padding: 2px 15px 15px; text-align: left; line-height: 1.4em; overflow: auto; clear: both;
}
.TB_modal#TB_ajaxContent {
	padding: 15px;
}
#TB_ajaxContent p {
	padding: 5px 0px;
}
#TB_load {
	margin: -45px 0px 0px -125px; padding: 40px 15px 15px; border: 1px solid rgb(85, 85, 85); border-image: none; left: 50%; top: 50%; display: none; position: fixed; z-index: 100050; background-color: rgb(232, 232, 232);
}
#TB_HideSelect {
	border: currentColor; border-image: none; left: 0px; top: 0px; width: 100%; height: 100%; position: fixed; z-index: 99; opacity: 0; background-color: rgb(255, 255, 255);
}
#TB_iframeContent {
	border: currentColor; border-image: none; clear: both;
}
.tb-close-icon {
	top: 0px; width: 29px; height: 29px; text-align: center; right: 0px; color: rgb(102, 102, 102); line-height: 29px; display: block; position: absolute;
}
.tb-close-icon::before {
	font: 20px/29px dashicons; content: "\f158"; font-size-adjust: none; font-stretch: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; speak: none;
}
#TB_closeWindowButton:hover .tb-close-icon {
	color: rgb(0, 160, 210);
}
#TB_closeWindowButton:focus .tb-close-icon {
	color: rgb(0, 160, 210);
}
#TB_closeWindowButton:focus .tb-close-icon {
	box-shadow: 0px 0px 0px 1px #5b9dd9, 0px 0px 2px 1px rgba(30,140,190,0.8); -webkit-box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
}
